


.navbar{
    background: #f3f6f6;
    margin-bottom: 100px;
    
}



/* carousel start */
.orange-bg{
    background: #fceae8;
    border-radius: 10px;
    
}

.carousel-item{
    padding: 20px 40px;
}

.price{
    color: #ff136F;
}


.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding:9px 25px;
    cursor: pointer;
}




/* carousel End */

/* categories start */


.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}

.cat1{
    background: orange;
}
.cat2{
background-color: orchid;
}
.cat3{
    background: blue;
}

.categories{
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.categories h1{
    color: white;

}

.categories img{
        width: 100px;

}


.card-body h5{
    font-weight: 700;
}

.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    margin-bottom: 100px;
    
}

.card-footer{
    background: white;
    border-top: none;
}

/* categories End */

/* Contact-us start */

.contact{
    margin-top: 100px;
    background: #fceae8 ;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 60px;
    
}

.contact h6{

    color: gray;
}
/* Contact-us end */

